<!DOCTYPE html>
<html lang="en">

<head>
    <h1 style="text-align: center;">ImShare - Download</h1>
</head>

<body>

    <section class="download">
        <% if(locals.error){ %>
            <h4>
                <%= locals.error %> 😏</h4>
            <% } else { %>
                <h2 class="tag1" style="text-align: center;">Your file is ready to download</h2>
                <p class="warning" style="text-align: center;">Link will expire in 24hours</p>
                <div class="download__meta" style="text-align: center;">
                    <h4>
                        <%= fileName %>
                    </h4>
                    <small><%= parseInt(fileSize/1000) %> KB</small>
                </div>
                <div class="send-btn-container" style="text-align: center;">
                    <a href="<%= downloadLink %>">Download file</a>
                </div>
                <% } %>
    </section>


</body>

</html>